<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravelDog</title>
    <link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'favicon/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        darkMode: 'class',
        theme: {
        extend: {
          colors: {
            primary: {"50":"#f0f9ff","100":"#e0f2fe","200":"#bae6fd","300":"#7dd3fc","400":"#38bdf8","500":"#0ea5e9","600":"#0284c7","700":"#0369a1","800":"#075985","900":"#0c4a6e"}
          }
        },
        fontFamily: {
          'body': [
        'Inter', 
        'ui-sans-serif', 
        'system-ui', 
        '-apple-system', 
        'system-ui', 
        'Segoe UI', 
        'Roboto', 
        'Helvetica Neue', 
        'Arial', 
        'Noto Sans', 
        'sans-serif', 
        'Apple Color Emoji', 
        'Segoe UI Emoji', 
        'Segoe UI Symbol', 
        'Noto Color Emoji'
      ],
          'sans': [
        'Inter', 
        'ui-sans-serif', 
        'system-ui', 
        '-apple-system', 
        'system-ui', 
        'Segoe UI', 
        'Roboto', 
        'Helvetica Neue', 
        'Arial', 
        'Noto Sans', 
        'sans-serif', 
        'Apple Color Emoji', 
        'Segoe UI Emoji', 
        'Segoe UI Symbol', 
        'Noto Color Emoji'
      ]
        }
      }
    }
    </script>
  </head>
  <body class="relative">
    {% comment %} NavBar {% endcomment %}
    <header class="sticky top-0 z-50">
      {% include 'header.html' %}
    </header>
    <section class="bg-gray-50 dark:bg-gray-900">
      <div class="flex flex-col items-center justify-between mx-auto md:h-screen md:w-screen lg:py-0">
        <!--form wrapper-->
        <div class="my-auto w-full bg-white rounded-lg shadow dark:border sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
         {% block form %}
         {% endblock form %}
        </div>
        <footer class="fixed bottom-0 bg-white w-full max-w-screen-xl">
          <hr class="border-gray-200 dark:border-gray-700 my-4">
          <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="{% url 'places:index' %}" class="hover:underline">TravelDog™</a>. All Rights Reserved.</span>
        </footer>
      </div>
    </section>
    {% block js %}
    {% endblock js %}
    <script>
      const footer = document.querySelector('footer'); // footer 엘리먼트 선택
      const header = document.querySelector('header'); // header 엘리먼트 선택
      var viewportHeight = window.innerHeight; // 뷰포트 높이 가져오기

      const updateVisibility = () => {
        const pageHeight = document.documentElement.scrollHeight; // 페이지 전체 높이 가져오기
        const Threshold = pageHeight - viewportHeight; // 임계값 설정 (페이지 전체 높이 - 뷰포트 높이)

        if (window.pageYOffset > Threshold) {
          footer.style.visibility = 'hidden'; // 임계값을 넘으면 footer를 숨김
          header.style.visibility = 'hidden';
        } else {
          footer.style.visibility = 'visible'; // 그 외의 경우에는 footer를 보임
          header.style.visibility = 'visible';
        }
      };

      window.addEventListener('scroll', updateVisibility); // 스크롤 이벤트에 updateFooterVisibility 함수 등록
      window.addEventListener('resize', updateVisibility); // 리사이즈 이벤트에 updateFooterVisibility 함수 등록
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </body>
</html>
