{% extends 'base.html' %}

{% block content %}

<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      {% comment %} logo {% endcomment %}
      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                  비밀번호 변경
              </h1>
              {% comment %} // custom form
              <form action="{% url 'accounts:login' %}" method="post">
                {{ form }}
              </form> {% endcomment %}
              
              {% comment %} manual form {% endcomment %}
              <form class="space-y-4 md:space-y-6" action="{% url 'accounts:password' %}" method="POST">
                {% csrf_token %}
                  <div>
                      <label for="old_password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">비밀번호</label>
                      <input type="password" name="old_password" id="old_password" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="••••••••" required="">
                  </div>
                  <div>
                      <label for="new_password1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">새 비밀번호</label>
                      <input type="password" name="new_password1" id="new_password1" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                  </div>
                  <div>
                    <label for="new_password2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">비밀번호 확인</label>
                    <input type="password" name="new_password2" id="new_password2" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                </div>

                  <button type="submit" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">비밀번호 변경</button>

              </form>
          </div>
      </div>
  </div>
{% endblock content %}