{% extends 'base.html' %}
{% load static %}
{% load tailwind_filters %}
{% block content %}
{% if place.photos.all|length > 1 %}
<div id="default-carousel" class="relative w-full" data-carousel="slide">
  <!-- Carousel wrapper -->
  <div class="relative h-56 overflow-hidden md:h-96">
    {% for photo in place.photos.all %}
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <img src="{{photo.photo.url}}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="{{photo.photo}}">
    </div>
    {% endfor %}
  </div>
  <!-- Slider indicators -->
  <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
      {% if place.photos.all %}
      {% for photo in place.photos.all %}
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide {{ forloop.counter }}" data-carousel-slide-to="{{ forloop.counter|add:-1 }}"></button>
      {% endfor %}
      {% else %}
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 1" data-carousel-slide-to="0"></button>
      {% endif %}
  </div>
  <!-- Slider controls -->
  <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
      <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
          <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
          <span class="sr-only">Previous</span>
      </span>
  </button>
  <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
      <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
          <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
          <span class="sr-only">Next</span>
      </span>
  </button>
</div>
{% else %}
<div class="relative w-full">
  <div class="relative h-56 overflow-hidden md:h-96">
    {% for photo in place.photos.all %}
    <div>
      <img src="{{photo.photo.url}}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="{{photo.photo}}">
    </div>
    {% empty %}
    <div>
      <img src="{% static 'img/default-place.jpg' %}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="default-place-img">
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
<div class="bg-white">
  <div class="mx-auto grid max-w-2xl grid-cols-1 items-center gap-x-8 gap-y-16 px-4 pb-24 pt-4 sm:px-6 sm:pb-32 sm:pt-20 lg:max-w-7xl lg:grid-cols-2 lg:px-8">
    <div>
      {% if request.user.is_authenticated and request.user.is_staff %}
      <div class="my-8 flex gap-1 lg:mt-0">
        <a href="{% url 'places:update' place.pk %}" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">플레이스 수정하기</a>
        <form action="{% url 'places:delete' place.pk %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-gray-600 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">삭제</button>
        </form>
      </div>
      {% endif %}
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{place.name}}</h2>
      <div class="flex gap-2 mt-4">
        <i class="fa-solid fa-location-dot text-primary-700 mt-1"></i>
        <p id="place-address" class="text-gray-500">{{place.address}}</p>
      </div>
      {% with avg_ratings=place.avg_ratings %}
        {% if not avg_ratings.star__avg %}
        <div class="flex content-center	gap-0.5 mt-4">
          <i class="fa-solid fa-star text-slate-300 my-auto"></i>
          <i class="fa-solid fa-star text-slate-300 my-auto"></i>
          <i class="fa-solid fa-star text-slate-300 my-auto"></i>
          <i class="fa-solid fa-star text-slate-300 my-auto"></i>
          <i class="fa-solid fa-star text-slate-300 my-auto"></i>
          <span class="text-base text-gray-500 ms-1">0.0</span>
        </div>
        {% else %}
        <div class="flex content-center	gap-0.5 mt-4">
          {% for i in range %}
          {% if i >= avg_ratings.star__avg|floatformat:'1' %}
          <i class="fa-solid fa-star text-slate-300 my-auto"></i>
          {% else %}
          <i class="fa-solid fa-star text-amber-400 my-auto"></i>
          {% endif %}
          {% endfor %}
          <span class="text-base text-gray-500 ms-1">{{avg_ratings.star__avg|floatformat:'1'}}</span>
        </div>
        {% endif %}
      {% endwith %}
      <div class="w-full h-56 mt-4 rounded map-wrapper lg:hidden">
        <div id="map"></div>
      </div>
      
      <h3 class="text-base font-bold tracking-tight text-gray-700 sm:text-lg mt-8 mb-4">리뷰({{reviews|length}})</h3>
      {% if request.user.is_authenticated %}
      <div class="mb-8">
        <form action="{% url 'places:review_create' place.pk %}" method="POST">
          {% csrf_token %}
          <div class="mb-2">
            <span class="relative text-3xl text-gray-200 stars">
              ★★★★★
              <span class="absolute w-0 left-0	text-primary-800 overflow-hidden pointer-events-none">★★★★★</span>
              <input type="range" oninput="drawStar(this)" value="0" step="1" min="0" max="5" id="star" name="star" class="w-full h-full absolute left-0 opacity-0 cursor-pointer">
            </span>
          </div>
          <div class="mb-8">
            <label for="content" class="block text-sm font-medium leading-6 text-gray-900">내용</label>
            <div class="mt-2">
              <input type="text" name="content" id="content" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-800 sm:text-sm sm:leading-6">
            </div>
          </div>
        <button type="submit" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">리뷰 올리기</button>
        </form>
      </div>
      {% endif %}
      {% for review in reviews %}
      <div class="mb-12">
        <div class="flex justify-between mb-4" id="reviewUser-{{review.pk}}">
          <div class="group flex items-center gap-x-4">
            {% if review.user.picture %}
            <img class="h-12 w-12 rounded-full" src="{{ review.user.picture.url }}" alt="{{ review.user.picture }}">
            {% else %}
            <img class="h-12 w-12 rounded-full" src="{% static 'img/default-profile.jpg' %}" alt="default-profile-img">
            {% endif %}
            <div>
              <a href="{% url 'accounts:profile' review.user.username %}" class="text-base font-semibold leading-7 tracking-tight text-gray-900 group-hover:underline">{{review.user}}</a>
              <div class="flex items-center	 gap-2">
                <div class="flex content-center	gap-0.5">
                  {% for i in num_range %}
                  {% if i > review.star %}
                  <i class="fa-solid fa-star text-slate-300 my-auto"></i>
                  {% else %}
                  <i class="fa-solid fa-star text-amber-400 my-auto"></i>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="text-xs leading-6 text-gray-500">|</div>
                <time class="text-sm leading-6 text-gray-500" datetime="{{review.created_at}}">
              </div>
            </div>
          </div>
          {% if request.user == review.user %}
          <div id="review-more-icon" class="relative review-more-icons">
            <button type="button" class= aria-expanded="false">
              <i class="fa-solid fa-ellipsis text-gray-500"></i>
            </button>
            <div id="review-more-modal" class="hidden absolute right-0 z-10 flex w-screen max-w-max px-1 shadow-lg rounded review-more-modals">
              <div class="p-1">
                <div class="group relative flex gap-x-6 rounded-lg p-4 hover:bg-gray-50">
                  <button type="button" class="font-semibold text-gray-900 review-edit-btn" data-place-id="{{ place.pk }}" data-review-id="{{ review.pk }}">
                    수정하기
                  </button>
                </div>
                <div class="group relative flex gap-x-6 rounded-lg p-4 hover:bg-gray-50">
                  <div>
                    <form action="{% url 'places:review_delete' place.pk review.pk %}" method="POST">
                      {% csrf_token %}
                      <button type="submit" class="font-semibold text-gray-900" onclick="onDelete()">
                        삭제하기
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
        <p class="text-base text-gray-900 mb-4" id="reviewContent-{{review.pk}}">{{review.content}}</p>
        {% if request.user.is_authenticated %}
        <form class="review-likeform" id="reviewlike-{{ review.pk }}" data-review-id="{{ review.pk }}" data-place-id="{{ place.pk }}">
          {% csrf_token %}
          {% if request.user in review.like.all %}
            <button type="submit" class="p-0"><i class="fa-solid fa-heart text-primary-700"></i></button>
          {% else %}
            <button type="submit" class="p-0"><i class="fa-regular fa-heart text-gray-500"></i></button>
          {% endif %}
        {% else %}
            <button type="submit" class="p-0" disabled="disabled"><i class="fa-regular fa-heart text-gray-500"></i></button> 
        {% endif %}
        <span class="text-gray-500 reviewlike-{{ review.pk }}">
          {{ review.like.count }}
        </span>
        </form>
        {% if request.user.is_authenticated %}
        <form class="review-edit-form" id="review-edit-form-{{ review.pk }}" data-place-id="{{ place.pk }}" data-review-id="{{ review.pk }}" hidden>
          {% csrf_token %}
          <div class="mb-8">
            <label for="reviewContent-{{review.pk}}" class="block text-sm font-medium leading-6 text-gray-900">내용</label>
            <div class="mt-2">
              <input type="text" name="content" id="review-content-{{review.pk}}" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-800 sm:text-sm sm:leading-6" value={{review.content}}>
            </div>
          </div>
          <button type="submit" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800 update">리뷰 수정하기</button>
          <button type="button" class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg gray-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-gray-600 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800 cancel" data-review-id="{{ review.pk }}">취소</button>
        </form>
        {% endif %}
      </div>
      {% empty %}
      <div class="mb-12">
        <p class="text-base text-gray-500 text-center mt-8">아직 등록된 리뷰가 없어요 :(</p>
      </div>
      {% endfor %}

      <nav aria-label="Page navigation example" class="flex justify-center mt-20">
        <ul class="inline-flex items-center -space-x-px">
          {% if reviews.has_previous %}
          <li>
            <a href="?page={{ reviews.previous_page_number }}" class="block px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
              <span class="sr-only">이전</span>
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
            </a>
          </li>
          {% else %}
          <li>
            <a href="" class="block px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white disabled">
              <span class="sr-only">이전</span>
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
            </a>
          </li>
          {% endif %}
          {% for page_number in reviews.paginator.page_range %}
            {% if page_number >= reviews.number|add:-5 and page_number <= reviews.number|add:5 %}
              {% if page_number == reviews.number %}
                <li>
                  <a href="?page={{ page_number }}" aria-current="page" class="z-10 px-3 py-2 leading-tight text-blue-600 border border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">{{ page_number }}</a>
                </li>
              {% else %}
                <li>
                  <a href="?page={{ page_number }}" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ page_number }}</a>
                </li>
              {% endif %}
            {% endif %}
          {% endfor %}
          {% if reviews.has_next %}
            <li>
              <a href="?page={{ reviews.next_page_number }}" class="block px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                <span class="sr-only">다음</span>
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              </a>
            </li>
          {% else %}
            <li>
              <a href="" tabindex="-1" aria-disabled="true" class="block px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white disabled">
                <span class="sr-only">다음</span>
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>

    </div>
    <div class="hidden lg:flex flex-col relative h-full">
      <div class="sticky top-10 rounded-xl shadow-xl pt-6">
        <h2 class="text-xl font-bold tracking-tight text-gray-900 sm:text-lg mx-2">'{{place.name}}'위치</h2>
        <p class="text-gray-500 mt-2 mx-2">{{place.address}}</p>
        <div class="h-56 map-wrapper mt-6">
          <div id="map-right" class="h-full"></div>
        </div>
        <form id="place-bookmarkform" data-place-id="{{ place.pk }}">
          {% csrf_token %}
          {% if request.user in place.bookmark.all %}
          <button type="submit" class="flex items-center justify-center gap-2 text-gray-800 dark:text-white hover:bg-gray-50 font-medium text-base px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800 w-full border-t-2 border-gray-100">
            <i class="fa-solid fa-bookmark text-primary-700"></i>
            <span>장소 저장하기 취소</span>
          </button>
          {% else %}
          <button type="submit" class="flex items-center justify-center gap-2 text-gray-800 dark:text-white hover:bg-gray-50 font-medium text-base px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800 w-full border-t-2 border-gray-100">
            <i class="fa-regular fa-bookmark text-gray-500"></i>
            <span>장소 저장하기</span>
          </button>
          {% endif %}
        </form>
      </div>
 
      <div class="grow"></div>
    </div>
  </div>
</div>
<div class="lg:hidden bg-white fixed bottom-0 w-full z-10	">
  <form id="place-bookmarkform-small" data-place-id="{{ place.pk }}">
    {% csrf_token %}
    {% if request.user in place.bookmark.all %}
    <button type="submit" class="flex items-center justify-center gap-2 text-gray-800 dark:text-white hover:bg-gray-50 font-medium text-base py-4 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800 w-full border-t-2 border-gray-100">
      <i class="fa-solid fa-bookmark text-primary-700"></i>
      <span>장소 저장하기 취소</span>
    </button>
    {% else %}
    <button type="submit" class="flex items-center justify-center gap-2 text-gray-800 dark:text-white hover:bg-gray-50 font-medium text-base py-4 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800 w-full border-t-2 border-gray-100">
      <i class="fa-regular fa-bookmark text-gray-500"></i>
      <span>장소 저장하기</span>
    </button>
    {% endif %}
  </form>
</div>
{% endblock content %}

{% block js %}
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{MAP_API_KEY}}&libraries=services"></script>
<script>
  const container = document.getElementById('map')
  const containerRight = document.getElementById('map-right')
  const placeAddress = document.querySelector('#place-address').innerText
  const REST_API_KEY = '{{REST_API_KEY}}'
  const headers = new Headers({'Authorization': `KakaoAK ${REST_API_KEY}`})

  fetch(`https://dapi.kakao.com/v2/local/search/address.json?query=${placeAddress}`, {
      headers
  }).then(res => res.json())
  .then(data => {
    try {
      var lat = data.documents[0].road_address.y
      var lng = data.documents[0].road_address.x

      const options = {
        center: new kakao.maps.LatLng(lat, lng),
        level: 3
      };

      let map = new kakao.maps.Map(container, options)
      let mapRight = new kakao.maps.Map(containerRight, options)
      let markerPosition  = new kakao.maps.LatLng(lat, lng)

      // 마커를 생성합니다
      let marker = new kakao.maps.Marker({
          position: markerPosition
      });

      let markerRight = new kakao.maps.Marker({
          position: markerPosition
      });

      map.setZoomable(false);  
      mapRight.setZoomable(false)

      // 마커가 지도 위에 표시되도록 설정합니다
      marker.setMap(map);
      markerRight.setMap(mapRight);

      window.addEventListener("resize", function() {
        // window resize시 처리
        map = new kakao.maps.Map(container, options);
        mapRight = new kakao.maps.Map(containerRight, options);
        markerPosition  = new kakao.maps.LatLng(lat, lng); 

        // 마커를 생성합니다
        marker = new kakao.maps.Marker({
            position: markerPosition
        });
        markerRight = new kakao.maps.Marker({
            position: markerPosition
        });

        // 마우스 휠로 지도 확대,축소 가능여부를 설정합니다
        map.setZoomable(false);    
        mapRight.setZoomable(false);    
        // 마커가 지도 위에 표시되도록 설정합니다
        marker.setMap(map);
        markerRight.setMap(mapRight);
      })
    } catch (err) {
      let lat = 33.450701
      let lng = 126.570667

      const options = {
        center: new kakao.maps.LatLng(lat, lng),
        level: 3
      };

      let map = new kakao.maps.Map(container, options)
      let mapRight = new kakao.maps.Map(containerRight, options)
      let markerPosition  = new kakao.maps.LatLng(lat, lng)

      // 마커를 생성합니다
      let marker = new kakao.maps.Marker({
          position: markerPosition
      });

      let markerRight = new kakao.maps.Marker({
          position: markerPosition
      });

      map.setZoomable(false);  
      mapRight.setZoomable(false)

      // 마커가 지도 위에 표시되도록 설정합니다
      marker.setMap(map);
      markerRight.setMap(mapRight);

      window.addEventListener("resize", function() {
        // window resize시 처리
        map = new kakao.maps.Map(container, options);
        mapRight = new kakao.maps.Map(containerRight, options);
        markerPosition  = new kakao.maps.LatLng(lat, lng); 

        // 마커를 생성합니다
        marker = new kakao.maps.Marker({
            position: markerPosition
        });
        markerRight = new kakao.maps.Marker({
            position: markerPosition
        });

        // 마우스 휠로 지도 확대,축소 가능여부를 설정합니다
        map.setZoomable(false);    
        mapRight.setZoomable(false);    
        // 마커가 지도 위에 표시되도록 설정합니다
        marker.setMap(map);
        markerRight.setMap(mapRight);
      })
    }
  })

</script>
<script>
  function elapsedTime(date) {
    //2023년 5월 3일 2:00 오후
    const dateString = date;
    const dateParts = dateString.split(" ");
    const year = dateParts[0].slice(0, -1)
    const month = dateParts[1].slice(0, -1)
    const day = dateParts[2].slice(0, -1)
    const hourMinute = dateParts[3].split(":");
    const hour = parseInt(hourMinute[0]) + (dateParts[-1] === "오후" ? 12 : 0);
    const minute = parseInt(hourMinute[1])
    const start = new Date(year, month-1, day, hour, minute);
    const end = new Date();    
    const diff = (end - start) / 1000;
    
    const times = [
      { name: '년', milliSeconds: 60 * 60 * 24 * 365 },
      { name: '개월', milliSeconds: 60 * 60 * 24 * 30 },
      { name: '일', milliSeconds: 60 * 60 * 24 },
      { name: '시간', milliSeconds: 60 * 60 },
      { name: '분', milliSeconds: 60 },
    ];
  
    for (const value of times) {
      const betweenTime = Math.floor(diff / value.milliSeconds);
  
      if (betweenTime > 0) {
        return `${betweenTime}${value.name} 전`;
      }
    }
    return '방금 전';
  }

  let times = document.querySelectorAll('time')
  times.forEach( el => {
    el.innerHTML = elapsedTime(el.dateTime)
  });

  const bodyTag = document.querySelector('body')
    
  try {
    const reviewMoreIcon = document.querySelectorAll('.review-more-icons')
    reviewMoreIcon.forEach((item)=>{
      const reviewMoreModal = item.querySelector('.review-more-modals')
      item.addEventListener('click', (event) => {
         reviewMoreModal.classList.remove('hidden')
      })

      bodyTag.addEventListener('mouseup', (event) => {
        if (!reviewMoreModal.contains(event.target)) {
          reviewMoreModal.classList.add('hidden')
        }
      })
    })
  } catch(err) {
  }
  
  const onDelete = () => {
    if (window.confirm('삭제하시겠습니까?')) {
      alert('삭제되었습니다.')
    } 
  }

  const drawStar = (target) => {
    console.log(target)
    document.querySelector(`.stars span`).style.width = `${target.value * 20}%`;
  }
  
  
</script>
<script>
  const plcebookmarkform = document.querySelector('#place-bookmarkform')
  const plcebookmarkformSmall = document.querySelector('#place-bookmarkform-small')
  const reviewforms = document.querySelectorAll('.review-likeform')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

  // Place 북마크
  plcebookmarkform.addEventListener('submit', function (event) {
    event.preventDefault()
    const placeId = event.target.dataset.placeId
    axios({
      method: 'post',
      url: `/places/${placeId}/bookmark/`,
      headers: {'X-CSRFToken': csrftoken},
    })
      .then((response) => {
        const isBookmarked = response.data.bookmarked
        const likeBtn = document.querySelector('#place-bookmarkform > button[type=submit] > i')
        const likeBtnText = document.querySelector('#place-bookmarkform > button[type=submit] > span')
        const likeBtnSmall = document.querySelector('#place-bookmarkform-small > button[type=submit] > i')
        const likeBtnTextSmall = document.querySelector('#place-bookmarkform-small > button[type=submit] > span')
        
        if (isBookmarked === true) {
          likeBtn.className = 'fa-solid fa-bookmark text-primary-700'
          likeBtnText.innerText = '장소 저장하기 취소'
          likeBtnSmall.className = 'fa-solid fa-bookmark text-primary-700'
          likeBtnTextSmall.innerText = '장소 저장하기 취소'
        } else {
          likeBtn.className = 'fa-regular fa-bookmark text-gray-500'
          likeBtnText.innerText = '장소 저장하기'
          likeBtnSmall.className = 'fa-regular fa-bookmark text-gray-500'
          likeBtnTextSmall.innerText = '장소 저장하기'
        }      
      })
      .catch((error) => {
        console.log(error.response)
      })
  })

  // Place 북마크 Small Size
  plcebookmarkformSmall.addEventListener('submit', function (event) {
    event.preventDefault()
    const placeId = event.target.dataset.placeId
    axios({
      method: 'post',
      url: `/places/${placeId}/bookmark/`,
      headers: {'X-CSRFToken': csrftoken},
    })
      .then((response) => {
        const isBookmarked = response.data.bookmarked
        const likeBtn = document.querySelector('#place-bookmarkform > button[type=submit] > i')
        const likeBtnText = document.querySelector('#place-bookmarkform > button[type=submit] > span')
        const likeBtnSmall = document.querySelector('#place-bookmarkform-small > button[type=submit] > i')
        const likeBtnTextSmall = document.querySelector('#place-bookmarkform-small > button[type=submit] > span')
        
        if (isBookmarked === true) {
          likeBtn.className = 'fa-solid fa-bookmark text-primary-700'
          likeBtnText.innerText = '장소 저장하기 취소'
          likeBtnSmall.className = 'fa-solid fa-bookmark text-primary-700'
          likeBtnTextSmall.innerText = '장소 저장하기 취소'
        } else {
          likeBtn.className = 'fa-regular fa-bookmark text-gray-500'
          likeBtnText.innerText = '장소 저장하기'
          likeBtnSmall.className = 'fa-regular fa-bookmark text-gray-500'
          likeBtnTextSmall.innerText = '장소 저장하기'
        }      
      })
      .catch((error) => {
        console.log(error.response)
      })
  })

  // Review Like
  reviewforms.forEach((reviewform) => {
    reviewform.addEventListener('submit', function (event) {
      event.preventDefault()
      const reviewId = event.target.dataset.reviewId
      const placeId = event.target.dataset.placeId
      axios({
        method:'post',
        url:`/places/${placeId}/review/like/${reviewId}/`,
        headers: {'X-CSRFToken': csrftoken},
      })
        .then((response) => {
          const isLiked = response.data.is_liked
          const commentLikesCountTag = document.querySelector(`.reviewlike-${reviewId}`)
          const commentLikesCountData = response.data.likes_count
          const likeBtn = document.querySelector(`#reviewlike-${reviewId} > button[type=submit] > i`)
          
          if (isLiked) {
            likeBtn.className = 'fa-solid fa-heart text-primary-700'
          } else {
            likeBtn.className = 'fa-regular fa-heart text-gray-500'
          }
          commentLikesCountTag.textContent = commentLikesCountData
        })
        .catch((error) => {
          console.log(error.response)
        })
    })

  })


  // 댓글 수정
  const reviewUpdates = document.querySelectorAll('.review-edit-btn')

  reviewUpdates.forEach((review) => {
    review.addEventListener('click', (event) => {
      const reviewId = event.target.dataset.reviewId
      const reviewUpdateDiv = document.querySelector(`#review-edit-form-${ reviewId }`)
      reviewUpdateDiv.hidden = false
      const parentReview = event.target.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement
      const originalContent = parentReview.querySelector(`#reviewContent-${reviewId}`).innerText
      const reviewModal = parentReview.querySelector(`#reviewUser-${reviewId}`).querySelector('#review-more-modal')
      const reviewContent = parentReview.querySelector(`#reviewContent-${reviewId}`)
      const reviewContentField = parentReview.querySelector(`#review-content-${reviewId}`)
      const reviewLike = parentReview.querySelector(`#reviewlike-${reviewId}`)
      reviewModal.style.display = 'none'
      reviewContent.hidden = true
      reviewContentField.value = originalContent
      reviewLike.hidden = true
   
    })
  })

  const reviewUpdateConfirms = document.querySelectorAll('.review-edit-form')
    reviewUpdateConfirms.forEach((updateBtn) => {
      updateBtn.addEventListener('submit', (event) => {
        event.preventDefault()
        const placeId = event.target.dataset.placeId
        const reviewId = event.target.dataset.reviewId
        const parentReview = event.target.parentElement.parentElement
        const data = {
          content: document.querySelector(`#review-edit-form-${reviewId} input[name="content"]`).value,
        }
        axios({
          method:'post',
          url:`/places/${placeId}/review/update/${reviewId}/`,
          headers: {'X-CSRFToken': csrftoken,},
          data: JSON.stringify(data),
        })
          .then((response) => {
            if (window.confirm('댓글 수정하시겠습니까?')) {
              updateBtn.hidden = true              
              const reviewModal = parentReview.querySelector(`#reviewUser-${reviewId}`).querySelector('#review-more-modal')
              const reviewContent = parentReview.querySelector(`#reviewContent-${reviewId}`)
              const reviewLike = parentReview.querySelector(`#reviewlike-${reviewId}`)
              reviewModal.removeAttribute('style')
              reviewContent.hidden = false
              reviewLike.hidden = false
              reviewContent.textContent = data['content']

            }
          })
          .catch((error) => {
            console.log(error.response)
          })
      })
    })

  const reviewUpdateCancels = document.querySelectorAll('.review-edit-form>.cancel')
  reviewUpdateCancels.forEach((cancelBtn) => {
    cancelBtn.addEventListener('click', (event) => {
      const reviewId = event.target.dataset.reviewId
      const reviewUpdateForm = document.querySelector(`#review-edit-form-${reviewId}`)
      
      reviewUpdateForm.hidden = true
      const parentReview = event.target.parentElement.parentElement
      const reviewModal = parentReview.querySelector(`#reviewUser-${reviewId}`).querySelector('#review-more-modal')
      const reviewContent = parentReview.querySelector(`#reviewContent-${reviewId}`)
      const reviewLike = parentReview.querySelector(`#reviewlike-${reviewId}`)
      reviewModal.removeAttribute('style')
      reviewContent.hidden = false
      reviewLike.hidden = false
    })
  })
  
</script>
{% endblock js %}
