{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="max-w-screen-lg text-gray-500 sm:text-lg dark:text-gray-400">
      <div class="flex flex-col gap-4">
        <div>
          <h2 class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white" style="font-family: 'Happiness-Sans-Bold';">댕댕이와 여행하개!</h2>
          <p class="mb-4 font-light" >펫팸족을 위한 전국 반려견 동반 여행지를 추천해드려요</p>
        </div>
        {% if request.user.is_authenticated and request.user.is_staff %}
        <div class="mb-4">
          <a href="{% url 'places:create' %}" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">플레이스 등록하기</a>
        </div>
        {% endif %}
      </div>
    </div>
      {% if not places %}
      <p class="text-base mt-12 text-gray-500 text-center">여행지가 존재하지 않습니다.</p>
      {% endif %}
      <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
        {% for place in places %}
        <div class="group relative shadow hover:shadow-lg px-2 pt-2 pb-4 rounded-lg">
          <div class="h-80 aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">            
            {% with place.photos.all|first as photo %}
            {% if photo %}
            <img src="{{ photo.photo.url }}" alt="{{ photos.photo }}" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
            {% else %}
            <img src="{% static 'img/default-place.jpg' %}" alt="default-place-img" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
            {% endif %}
            {% endwith %}
          </div>
          <div class="mt-4 flex flex-col justify-between h-32 sm:h-36">
            <div class="flex flex-col gap-2">
              <h3 class="text-xl truncate text-gray-700">
                <a href="{% url 'places:detail' place.pk %}">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  {{ place.name }}
                </a>
              </h3>
              <div class="flex gap-2">
                <i class="fa-solid fa-location-dot text-primary-700 mt-1"></i>
                <p class="text-base text-gray-500">{{ place.address }}</p>
              </div>
            </div>
            <div class="flex flex-col gap-2">
              {% for star in stars %}
                {% if star.place == place.pk %}
                  {% if not star.avg_star %}
                  <div class="flex content-center gap-0.5">
                    <i class="fa-solid fa-star text-slate-300 my-auto"></i>
                    <i class="fa-solid fa-star text-slate-300 my-auto"></i>
                    <i class="fa-solid fa-star text-slate-300 my-auto"></i>
                    <i class="fa-solid fa-star text-slate-300 my-auto"></i>
                    <i class="fa-solid fa-star text-slate-300 my-auto"></i>
                    <span class="text-base text-gray-500 ms-1">0.0</span>
                  </div>
                  {% else %}
                  <div class="flex content-center gap-0.5">
                    {% for i in range %}
                      {% if i >= star.avg_star|floatformat:1 %}
                      <i class="fa-solid fa-star text-slate-300 my-auto"></i>
                      {% else %}
                      <i class="fa-solid fa-star text-amber-400 my-auto"></i>
                      {% endif %}
                    {% endfor %}
                    <span class="text-base text-gray-500 ms-1">{{ star.avg_star|floatformat:1 }}</span>
                  </div>
                  {% endif %}
                {% endif %}
              {% endfor %}
              <p class="text-sm text-gray-500">{{ place.place_reviews.all|length }} reviews</p>
              {% if request.user in place.bookmark.all %}
              <div class="absolute right-0 bottom-0 flex items-center justify-center m-4">
                <i class="fa-solid fa-bookmark text-primary-700 text-xl"></i>
              </div>
              {% else %}
              <div class="absolute right-0 bottom-0 flex items-center justify-center m-4">
                <i class="fa-regular fa-bookmark text-gray-500 text-xl"></i>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <nav aria-label="Page navigation example" class="flex justify-center mt-20">
        <ul class="inline-flex items-center -space-x-px">
          {% if places.has_previous %}
          <li>
            <a href="?page={{ places.previous_page_number }}" class="block px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
              <span class="sr-only">이전</span>
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
            </a>
          </li>
          {% else %}
          <li>
            <a href="" class="block px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white disabled">
              <span class="sr-only">이전</span>
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
            </a>
          </li>
          {% endif %}
          {% for page_number in places.paginator.page_range %}
            {% if page_number >= places.number|add:-5 and page_number <= places.number|add:5 %}
              {% if page_number == places.number %}
                <li>
                  <a href="?page={{ page_number }}" aria-current="page" class="z-10 px-3 py-2 leading-tight text-blue-600 border border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">{{ page_number }}</a>
                </li>
              {% else %}
                <li>
                  <a href="?page={{ page_number }}" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ page_number }}</a>
                </li>
              {% endif %}
            {% endif %}
          {% endfor %}
          {% if places.has_next %}
            <li>
              <a href="?page={{ places.next_page_number }}" class="block px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                <span class="sr-only">다음</span>
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              </a>
            </li>
          {% else %}
            <li>
              <a href="" tabindex="-1" aria-disabled="true" class="block px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white disabled">
                <span class="sr-only">다음</span>
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>
  </div>
</section>
<a href="https://docs.google.com/forms/d/e/1FAIpQLScSIdxqVzZPbHHK5GnLYIQauIDI8R4TRb0HEwagt3-3i4EPKg/viewform?usp=sf_link" target="_blank" class="fixed right-8 bottom-8 bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-full px-5 py-4 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
  <i class="fa-solid fa-message text-white text-lg"></i>
</a>
{% endblock content %}