{% extends 'base.html' %}

{% block content %}
<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="max-w-screen-lg text-gray-500 sm:text-lg dark:text-gray-400">
          <h2 class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white">댕댕이와 여행하개!</h2>
          <p class="mb-4 font-light">펫팸족을 위한 전국 반려견 동반 여행지를 추천해드려요</p>
      </div>
      <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
        <div class="group relative shadow hover:shadow-lg px-2 pt-2 pb-4 rounded-lg">
          <div class="min-h-80 aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
            <img src="https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&id=cf325192-7620-4194-a6bd-8fa4fcbed287" alt="..." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
          </div>
          <div class="mt-4 flex flex-col justify-between h-32 sm:h-36">
            <div class="flex flex-col gap-2">
              <h3 class="text-xl truncate text-gray-700">
                <a href="#">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  혼자두면장판뜯어서차린개카페
                </a>
              </h3>
              <div class="flex gap-2">
                <i class="fa-solid fa-location-dot text-primary-700 mt-1"></i>
                <p class="text-base text-gray-500">서울특별시 관악구 남부순환로 1665 (남부순환로)</p>
              </div>
            </div>
            <div class="flex flex-col gap-2">
              <div class="flex content-center	gap-0.5">
                <i class="fa-solid fa-star text-amber-400 my-auto"></i>
                <i class="fa-solid fa-star text-amber-400 my-auto"></i>
                <i class="fa-solid fa-star text-amber-400 my-auto"></i>
                <i class="fa-solid fa-star text-amber-400 my-auto"></i>
                <i class="fa-solid fa-star text-amber-400 my-auto"></i>
                <span class="text-base text-gray-500 ms-1">5.0</span>
              </div>
              <p class="text-sm text-gray-500">18 reviews</p>
            </div>
          </div>
        </div>
        <div class="group relative shadow hover:shadow-lg px-2 pt-2 pb-4 rounded-lg">
          <div class="min-h-80 aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
            <img src="https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&id=57ac97a8-199c-45cd-be72-dd301fcaa4b0" alt="..." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
          </div>
          <div class="mt-4 flex flex-col justify-between h-32 sm:h-36">
            <div class="flex flex-col gap-2">
              <h3 class="text-xl truncate text-gray-700">
                <a href="#">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  화성 고정리 공룡알 화석산지 탐방로
                </a>
              </h3>
              <div class="flex gap-2">
                <i class="fa-solid fa-location-dot text-primary-700 mt-1"></i>
                <p class="text-base text-gray-500">경기도 화성시 송산면 고정리</p>
              </div>
            </div>
            <div class="flex flex-col gap-2">
              <div class="flex content-center	 gap-0.5">
                <i class="fa-solid fa-star text-amber-400 my-auto"></i>
                <i class="fa-solid fa-star text-amber-400 my-auto"></i>
                <i class="fa-solid fa-star text-amber-400 my-auto"></i>
                <i class="fa-solid fa-star text-amber-400 my-auto"></i>
                <i class="fa-solid fa-star text-slate-300 my-auto"></i>
                <span class="text-base text-gray-500 ms-1">4.0</span>
              </div>
              <p class="text-sm text-gray-500">18 reviews</p>
            </div>
          </div>
        </div>
        <div class="group relative shadow hover:shadow-lg px-2 pt-2 pb-4 rounded-lg">
          <div class="min-h-80 aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
            <img src="https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&id=cf325192-7620-4194-a6bd-8fa4fcbed287" alt="..." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
          </div>
          <div class="mt-4 flex flex-col justify-between h-32 sm:h-36">
            <div class="flex flex-col gap-2">
              <h3 class="text-xl truncate text-gray-700">
                <a href="#">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  혼자두면장판뜯어서차린개카페
                </a>
              </h3>
              <div class="flex gap-2">
                <i class="fa-solid fa-location-dot text-primary-700 mt-1"></i>
                <p class="text-base text-gray-500">서울특별시 관악구 남부순환로 1665 (남부순환로)</p>
              </div>
            </div>
            <div class="flex flex-col gap-2">
              <div class="flex content-center	gap-0.5">
                <i class="fa-solid fa-star text-amber-400 my-auto"></i>
                <i class="fa-solid fa-star text-amber-400 my-auto"></i>
                <i class="fa-solid fa-star text-amber-400 my-auto"></i>
                <i class="fa-solid fa-star text-amber-400 my-auto"></i>
                <i class="fa-solid fa-star text-amber-400 my-auto"></i>
                <span class="text-base text-gray-500 ms-1">5.0</span>
              </div>
              <p class="text-sm text-gray-500">18 reviews</p>
            </div>
          </div>
        </div>
        <div class="group relative shadow hover:shadow-lg px-2 pt-2 pb-4 rounded-lg">
          <div class="min-h-80 aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
            <img src="https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&id=57ac97a8-199c-45cd-be72-dd301fcaa4b0" alt="..." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
          </div>
          <div class="mt-4 flex flex-col justify-between h-32 sm:h-36">
            <div class="flex flex-col gap-2">
              <h3 class="text-xl truncate text-gray-700">
                <a href="#">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  화성 고정리 공룡알 화석산지 탐방로
                </a>
              </h3>
              <div class="flex gap-2">
                <i class="fa-solid fa-location-dot text-primary-700 mt-1"></i>
                <p class="text-base text-gray-500">경기도 화성시 송산면 고정리</p>
              </div>
            </div>
            <div class="flex flex-col gap-2">
              <div class="flex content-center	 gap-0.5">
                <i class="fa-solid fa-star text-amber-400 my-auto"></i>
                <i class="fa-solid fa-star text-amber-400 my-auto"></i>
                <i class="fa-solid fa-star text-amber-400 my-auto"></i>
                <i class="fa-solid fa-star text-amber-400 my-auto"></i>
                <i class="fa-solid fa-star text-slate-300 my-auto"></i>
                <span class="text-base text-gray-500 ms-1">4.0</span>
              </div>
              <p class="text-sm text-gray-500">18 reviews</p>
            </div>
          </div>
        </div>
        <div class="group relative shadow hover:shadow-lg px-2 pt-2 pb-4 rounded-lg">
          <div class="min-h-80 aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
            <img src="https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&id=cf325192-7620-4194-a6bd-8fa4fcbed287" alt="..." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
          </div>
          <div class="mt-4 flex flex-col justify-between h-32 sm:h-36">
            <div class="flex flex-col gap-2">
              <h3 class="text-xl truncate text-gray-700">
                <a href="#">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  혼자두면장판뜯어서차린개카페
                </a>
              </h3>
              <div class="flex gap-2">
                <i class="fa-solid fa-location-dot text-primary-700 mt-1"></i>
                <p class="text-base text-gray-500">서울특별시 관악구 남부순환로 1665 (남부순환로)</p>
              </div>
            </div>
            <div class="flex flex-col gap-2">
              <div class="flex content-center	gap-0.5">
                <i class="fa-solid fa-star text-slate-300 my-auto"></i>
                <i class="fa-solid fa-star text-slate-300 my-auto"></i>
                <i class="fa-solid fa-star text-slate-300 my-auto"></i>
                <i class="fa-solid fa-star text-slate-300 my-auto"></i>
                <i class="fa-solid fa-star text-slate-300 my-auto"></i>
                <span class="text-base text-gray-500 ms-1">0.0</span>
              </div>
              <p class="text-sm text-gray-500">0 reviews</p>
            </div>
          </div>
        </div>
        <div class="group relative shadow hover:shadow-lg px-2 pb-4 rounded-lg">
          <div class="min-h-80 aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
            <img src="https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&id=57ac97a8-199c-45cd-be72-dd301fcaa4b0" alt="..." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
          </div>
          <div class="mt-4 flex flex-col justify-between h-32 sm:h-36">
            <div class="flex flex-col gap-2">
              <h3 class="text-xl truncate text-gray-700">
                <a href="#">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  화성 고정리 공룡알 화석산지 탐방로
                </a>
              </h3>
              <div class="flex gap-2">
                <i class="fa-solid fa-location-dot text-primary-700 mt-1"></i>
                <p class="text-base text-gray-500">경기도 화성시 송산면 고정리</p>
              </div>
            </div>
            <div class="flex flex-col gap-2">
              <div class="flex content-center	 gap-0.5">
                <i class="fa-solid fa-star text-amber-400 my-auto"></i>
                <i class="fa-solid fa-star text-slate-300 my-auto"></i>
                <i class="fa-solid fa-star text-slate-300 my-auto"></i>
                <i class="fa-solid fa-star text-slate-300 my-auto"></i>
                <i class="fa-solid fa-star text-slate-300 my-auto"></i>
                <span class="text-base text-gray-500 ms-1">1.0</span>
              </div>
              <p class="text-sm text-gray-500">1 reviews</p>
            </div>
          </div>
        </div>
  
        <!-- More products... -->
      </div>
  </div>
</section>
{% endblock content %}