{% load static %}
<div class="mb-4 border-b border-gray-200 dark:border-gray-700">
  <ul class="flex flex-wrap -mb-px text-sm font-medium justify-center text-center" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
    <li class="mr-2" role="presentation">
      <button class="inline-block p-4 border-b-2 rounded-t-lg" id="user-reviews-tab" data-tabs-target="#user-reviews" type="button" role="tab" aria-controls="profile" aria-selected="false">내가 쓴 리뷰</button>
    </li>
    <li class="mr-2" role="presentation">
      <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="bookmarks-tab" data-tabs-target="#bookmarks" type="button" role="tab" aria-controls="dashboard" aria-selected="false">북마크</button>
    </li>
    <li class="mr-2" role="presentation">
      <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="likes-tab" data-tabs-target="#likes" type="button" role="tab" aria-controls="settings" aria-selected="false">좋아요 한 리뷰</button>
    </li>
  </ul>
</div>
<div id="myTabContent">
  <div class="md:w-3/6 mx-auto hidden rounded-lg" id="user-reviews" role="tabpanel" aria-labelledby="user-reviews-tab">
    {% include 'accounts/profile_/user_reviews_tab.html' %}
  </div>
  <div class="md:w-3/6 mx-auto hidden rounded-lg" id="bookmarks" role="tabpanel" aria-labelledby="bookmarks-tab">
    {% include 'accounts/profile_/bookmarks_tab.html' %}
  </div>
  <div class="md:w-3/6 mx-auto hidden rounded-lg" id="likes" role="tabpanel" aria-labelledby="likes-tab">
    {% include 'accounts/profile_/likes_tab.html' %} 
  </div>
</div>