{% load static %}


<div class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800 flex justify-center flex-col" id="stats" role="tabpanel" aria-labelledby="stats-tab">
    {% for my_review, my_photo in my_list %}
    <a href="{% url 'places:detail' my_review.place.pk %}" class="flex flex-col justify-center items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">

        <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src= "{{my_photo.photo.url}}" alt="">
       

        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{my_review.content}}</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{my_review.place}}</p>
            <div class="flex justify-start mx-1">
                <i class="fa-solid fa-heart">
                    {% if my_review.like %}
                    <span class="text-gray-500">{{ my_review.like.count }}</span>
                    {% else %}
                    <span class="text-gray-500">0</span>
                    {% endif %}
                </i>

            </div>
        </div>
    </a>

    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src= "{{my_photo.photo.url}}" alt="">

    {% endfor %}
</div>


