{% load static %}
<div class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800" id="about" role="tabpanel" aria-labelledby="about-tab">
  <div class="mt-6">
    <!-- More products... -->
    {% if not bookmark_places %}
    <p class="text-base mt-12 text-gray-500 text-center">여행지가 존재하지 않습니다.</p>
    {% endif %}
    <div class="mt-6 mx-auto lg:w-5/6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:gap-x-8">
    {% for place in bookmark_places %}
    {% include 'accounts/bookmark_card.html' %}
    {% endfor %}
    </div>
  </div>
</div>
